body{
    
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Playfair Display', serif;
    color: #616971;
}
/*tTOP BAR HEADER */
.top-bar{
    background-color: #92939b;
    height: 2.8rem;
    padding: .5rem 0;
   
    
    
}
.top-bar p{
    color: rgb(88, 85, 85);
    font-size: 1.1rem;
}

/* NAVIGATION */
.navbar-brand img{
    height: 3rem;
}
.navbar{
    /* 裡面連結的字 */
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;

    /* 我想要給導覽列一底下陰影 要記得該排列順序是什麼 新增的*/
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0,.1);
    /* to give the pshadow out*/
    z-index: 1;


}
.nav-item{
    padding: .5rem;

}
/* change the color of nav-link */
.nav-link{
    color: #5b5555 !important;
    margin-left: 5rem;
}
.nav-link .active,
.nav-link:hover{
    color: #4981b3 !important;
}
/* GET THE SHADOW IN THE BOTTOM OF CAROUSEL */
#mycarousel{
     /* 我想要給導覽列一底下陰影 要記得該排列順序是什麼 新增的*/
     box-shadow: 0 .1rem .1rem rgba(0, 0, 0,.5);
     /* to give the pshadow out*/

}
/* 不好喔，但實在太大了 */
.carousel-inner{
    max-height: 38rem !important;

}
/* CHANGE CAROUSEL TRANSITION SPEED */
.carousel-item-next,
.carousel-item-prev,
.carousel-item .active{
    transition: transform 0.2s ease;
}
/* carousel content *//* to give carousel content to everywhere i want */
.carousel-caption{
    
    position: absolute;
    top:54%;
    transform: translateY(-50%);
    /* text-transform: uppercase; */
}
@media only screen and (max-width:768) {
    
}
.bg-custom{
    background-color: rgba(168, 162, 162, 0.4);
    color: white;
    border-radius:1rem ;
    /* letter-spacing: .05rem; */
}
.carousel-capation h1{
    font-size: 3.8rem;
    text-shadow:  .1rem .1rem .3rem rgba(0, 0, 0,.1);;

}
/* .border-gray{
    border-width: 1.5rem solid !important;
} */
.carousel-capation h3{
    font-size: 2.2rem;
    text-shadow:  .1rem .1rem .2rem rgba(0, 0, 0,.1);;

}
.btn-lg{
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}
.btn-danger{
    background-color: #AC2615;
    border: .05rem solid #AC2615;
}
.btn-primary{
    background-color: #4981b3;
    border: .05rem solid #4981b3;
}
/* :focus */
.btn-primary:hover
.btn-primary:focus{
    background-color: #68a0d2 !important;
    border: .05rem solid #68a0d2!important;
}
/*===== FIXED BACKGROUND IMG =====*/


  .fixed-background{
      /* padding: 1rem 0; */
      background-image: url(../img/08.jpeg);

      
  }
  .fixed-background>div{
    margin-right: 0;
    
    
}


.wavy > span {
    display: inline-block;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    padding-right: 1.3rem;
    animation: animateY 1s linear infinite;
    animation-delay: calc(0.1s * var(--i));
   
}

@keyframes animateY {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%,
    100% {
        transform: translateY(00px);
    }
}
  /* emoji .navbar */
  .emoji{
      background-image: linear-gradient(to right, #bdc1c4,#ece8e8);
      min-height: 0 !important;
      padding:.4rem 0!important;
  }
  .emoji i{
      margin:0 auto;
      color:white;
      font-size: 2rem;
  }
  
  
 /* footer */
footer{
    background-color: #383838;
    padding:1rem 2rem 3rem;

}
footer img{
    height:3.6rem;
    margin:1.5rem auto;
}
footer p,footer a,
.socket a{
    color: white;
    text-decoration: none;
}
ul.social{
    list-style-type: none;
    display:flex;
    max-width:10rem;;
    margin:0 auto;
    padding: 0;
}
ul.social li{
    margin:0 auto;
}
ul.social li a i {
    font-size: 1.5rem;
}
footer.svg-inline--fa:hover{
    color: #680d26;
}
/* .socket */
.socket{
    background-color: #222222;
    border-top: 1rem soild #AC2615;

}
/*============= MEDIA QUERIES =============*/


/* -- Bootstrap Mobile Gutter Fix -- */
